Put 'data' folder from the [link](https://drive.google.com/open?id=11RMLCSIAO3dWk9ejSkVYc5tQwwK5pquG) provided in the [Cyberbullying](https://github.com/sweta20/Detecting-Cyberbullying-Across-SMPs) GitHub Project in the same directory as this Notebook and run the following cells to load all the files into DataFrames with the same names as the files.

In [11]:
import pandas as pd
%matplotlib inline

In [24]:

data = pd.read_csv(r"C:\Users\Apeksha\Desktop\IPYNB\data.csv" , sep='\t')
data.columns=['ID','tweets','label']

In [25]:
data.head()

                   ID                                             tweets label
0  560934139403436032  @azzamalirhabi @JihadiA8 This video of the Pes...  none
1  575597326519042050  Oh really? No more instant restaurants? THAT'S...  none
2  552487055553757187  RT @Benfrancisallen: It hasn't been a good few...  none
3  563306298788151300  RT @NoToFeminism: I don’t need femisnsn becaus...  none
4  562782575656435717      @MariachiMacabre 19% is not the vast majority  none

In [29]:
data.label.unique()

array(['none', 'racism', 'sexism', 'none '], dtype=object)

In [32]:
data.loc[data.label.str.contains('none '), 'label'] = 'none'

In [33]:
data.label.unique()

array(['none', 'racism', 'sexism'], dtype=object)

In [34]:
data['label'] = data['label'].map({'racism': 1, 'none': 0, 'sexism':1})

In [37]:
data.head()

,ID,tweets,label
0,560934139403436032,@azzamalirhabi @JihadiA8 This video of the Pes...,0
1,575597326519042050,Oh really? No more instant restaurants? THAT'S...,0
2,552487055553757187,RT @Benfrancisallen: It hasn't been a good few...,0
3,563306298788151300,RT @NoToFeminism: I don’t need femisnsn becaus...,0
4,562782575656435717,@MariachiMacabre 19% is not the vast majority,0

In [43]:
import re

In [47]:
data.dtypes

ID         int64
tweets    object
label      int64
dtype: object

In [50]:
import numpy as np
def remove_pattern(input_txt, pattern):
    r = re.findall(pattern, input_txt)
    for i in r:
        input_txt = re.sub(i, '', input_txt)
        
    return input_txt

In [53]:
data['tweets'] = np.vectorize(remove_pattern)(data['tweets'], "@[\w]*")

In [54]:
data.head()

,ID,tweets,label
0,560934139403436032,This video of the Peshmerga decimating ISIS ...,0
1,575597326519042050,Oh really? No more instant restaurants? THAT'S...,0
2,552487055553757187,RT : It hasn't been a good few weeks for #ISIS...,0
3,563306298788151300,RT : I don’t need femisnsn because men carry h...,0
4,562782575656435717,19% is not the vast majority,0

In [57]:
data.drop(['ID'], axis=1).head()

                                              tweets  label
0    This video of the Peshmerga decimating ISIS ...      0
1  Oh really? No more instant restaurants? THAT'S...      0
2  RT : It hasn't been a good few weeks for #ISIS...      0
3  RT : I don’t need femisnsn because men carry h...      0
4                       19% is not the vast majority      0

In [59]:
data.to_csv('data.csv', sep='\t')